.widget-content-area {

    padding: 20px!important;

}

.text-wrap{

    white-space:normal;

}

.width-170{

    width:170px;

}

.width-100{

    width:100px;

}

.width-50{

    width:50px;

}

.width-80{

    width:80px;

}

.width-70{

    width:70px;

}

.width-300{

    width:300px;

}

.width-200{

    width:200px;

}

.width-160{

    width:160px;

}

.bootstrap-tagsinput {

    width: 100%;

}

    .bootstrap-tagsinput .tag {

      margin-right: 2px;

      color: white !important;

      background-color: #0d6efd;

      padding: 0.2rem;

    }

    .reportrange {

        background: #fff; 

        cursor: pointer;

        padding: 0.75rem 1.25rem;

        border-radius: 6px;

        border: 1px solid #bfc9d4;

        color: #3b3f5c;

        font-size: 15px;

    }

    .reportrange input {

    width: 92%;

    border: 0;

    }
    #product_search_value li {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #dcdcdc;
        cursor: pointer;
    }
    
    #product_search_value {
        background: #f1f2f3;
        color: #000;
        padding: 0px;
        position: absolute;
        width: 88.5%;
        margin-left: 7.5%;
    }
    
    #product_search_value li:hover {
        background: #ffbb44;
    }
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
    }


    .sel_div {
        min-width: 210px;
        border-radius: 0px;
        width: 100%;
        text-align: left;
        z-index: 1;
        color: rgb(51, 51, 51);
        background: white;
        border: 1px solid rgb(153, 153, 153);
        line-height: 20px;
        font-size: 14px;
        padding-top: 15px !important;
        padding-right: 12px !important;
        padding-bottom: 15px !important;
        padding-left: 12px !important;
        max-width: 500px;
    }


    