On App please Fix Following

- Update Qty on takealot & Shopify From Pos
- Generate Sku For takealot Like ( Cost + minimu + RackNo) and update on taekalot From minimum Price Page

on DashBoard
- Admin Dashboard
- Sales Amount by Month ( On Chart)
- Today Sale Amount / yesterday Sale Amount / Current Month Sale Amount / last Month Sale Amount / This Year Sale Amount ( on chart)
- Top Selling Product ( list of Top 20)
- Top Return product ( list of Top 20)

-Sub Account dashboard
- Top Selling Product ( list of Top 20)
- Top Return product ( list of Top 20)